/************************************************
/* RESTE MEYER
************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/************************************************
/* FIN RESTE MEYER
************************************************/
body {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    background-color: #F8F5EF;
    min-width: 750px;
}

div.header {
    background-color: #524949;
    color: #BCAF99;
    height: 55px;
    font-size: 2em;
    padding: 1em 0 0 2em;
}

div.header a {
    background-color: #524949;
    color: #BCAF99;
}

div#filtre {
    float: left;
    width: 25%;
    background-color: #B5D02F;
    padding: 1em 0.5em 0 2em;
}

div#filtre h1 {
    color: white;
    font-size: 2em;
    margin: 1em 0 0.25em;
    font-family: georgia;
}

div#filtre h1.titreOffre:first-letter {
    text-transform: uppercase;
}

div.offre {
    width: 67.5%;
    float: right;
    margin-top: 3em;
    margin-right: 1em;

}

div.offre h1 {
    color: #5A4500;
    font-size: 2em;
    font-family: georgia;
    margin-bottom: 1em;
}

div.offre table {
    border-left: 1px solid #B5D02F;
}

div.offre a:hover, div.offre a:focus, div.offre a:active {
    color: #B5D02F;
}

thead {
    background-color: #B5D02F;
    color: white;
    font-family: georgia;
}

td {
    border-bottom: 1px solid #B5D02F;
    border-right: 1px solid #B5D02F;
    padding: 1em;
    text-align: center;
    color: #524949;
}

th {
    padding: 1em;
    text-align: center;
    border-right: 1px solid white;
}

a, a:link, a:visited {
    color: #524949;
    text-decoration: none;
}

a:hover, a:focus a:active {
    color: white;
}

/* VOIR OFFRE */

div.offre h2 {
    font-family: georgia;
    font-size: 1.5em;
    color: #B5D02F;
    margin: 1em 0 0.5em;
}

div.offre p {
    color: #524949;
}

div.retour {
    margin-top: 1em;
}

div.retour a {
    background-color: #B5D02F;
    float: right;
    padding: 0.5em;
}

div.retour a:hover, div.retour a:focus, div.retour a:active {
    color: white;
}